<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="94%">
    <div class="container" fxLayout="row" fxLayoutAlign="none">
      <div fxFlex="100%" class="title-pages">
        <div class="row">
          <h2>Dashboard</h2>
        </div>
        <hr/>
      </div>
    </div>
    <div class="container" fxLayout="row" fxLayoutAlign="center none">
      <div fxFlex="100%" class="text-center no-records animate">
        <a [routerLink]="['/album']" routerLinkActive="active">
          <mat-card class="card-dashboard">
            <mat-icon class="mat-icon-primary">photo_library</mat-icon>
            <h2>Álbum</h2>
          </mat-card>
        </a>
      </div>

      <div fxFlex="100%" class="text-center no-records animate">
        <a [routerLink]="['/comments']" routerLinkActive="active">
          <mat-card class="card-dashboard">
            <mat-icon class="mat-icon-primary">comment</mat-icon>
            <h2>Comentários</h2>
          </mat-card>
        </a>
      </div>
      
      <div fxFlex="100%" class="text-center no-records animate">
        <a [routerLink]="['/to-dos']" routerLinkActive="active">
          <mat-card class="card-dashboard">
            <mat-icon class="mat-icon-primary">assignment_turned_in</mat-icon>
            <h2>Tarefas</h2>
          </mat-card>
        </a>
      </div>
    </div>
  </div>
</div>