<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="94%">
    <div class="container">
      <div class="title-pages">
        <div class="row">
          <h2>Tarefas</h2>
        </div>
        <hr/>
      </div>
    </div>

    <table mat-table [dataSource]="todos" class="mat-elevation-z8">

      <ng-container matColumnDef="Usuário">
        <th mat-header-cell *matHeaderCellDef> Usuário </th>
        <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Tarefa">
        <th mat-header-cell *matHeaderCellDef> Tarefa </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element" class="color-red"> {{element.completed ? 'Completa' : 'Pendente'}} </td>
      </ng-container>
    
      
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>
